.back
{
  margin-top: 10px;
    background-color:rgb(206, 128, 27) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border:1px solid black;
    text-align: right;
    padding-right: 50px;
}
.footer .footer-row {
    margin-bottom: 10px;
    list-style: none;
    width:100%;
}

.footer .footer-row .footer-title {
    font-weight: bold;
    list-style: none;
    margin-bottom: 5px;
}

.footer .footer-row ul {
  list-style: none;
    padding: 0;
}

.footer .footer-row ul li {
    margin-bottom: 5px;
}

.footer .footer-row ul li a {
    color: #fff;
    text-decoration: none;
}

.footer .footer-row ul li a:hover {
    list-style: none;
    text-decoration: none;
}
.foot{
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: white;
    color: #333;
    padding: 10px;
    overflow-x: hidden;
    text-align: center;
  }
  
  .foot h4 {
    margin: 0;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 16px; 
    animation: scrollText 50s linear infinite; /* Increased duration */
  }
  
  @keyframes scrollText {
    0%, 100% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-100%);
    }
  }