
.name
{
    margin-left: 10px;
    margin-inline-start: 2px;
    padding: 1%;
    word-spacing: 2rem;
    letter-spacing: 3px;
    /* margin:0px; */
    /* margin-bottom: 0px; */
}
.head
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:row;
    gap:3rem;
    width:2rem;
}
.place
{
    display:flex;
    align-items: center;
}
.search-bar {
    display:flex;
    /* padding-left: 3rem; */
    /* margin-bottom: 0%; */
}

.search-bar input {
    background-color: #ffffffa1;
    border-radius: 50px;
    width: 40rem;
    height: 40px;
    border: 1px solid black;
    color: black;
    align-items: center;
    text-align: center;
   ;
}

.buttonx
{

    width:3.5rem;
    padding :1rem;
    height:2rem;
    /* background-color: #ffffff;  */
     padding: 10px 20px; 
    border-radius: 25px;
    padding:1rem;
    font-size: 16px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: rgba(172, 169, 166, 0.856); 
    
    border-radius: 25px;
}

transition: background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}
.region img
{
    /* width:2rem;
    height:3rem; */
    padding:1rem;
    /* border-radius: 25px; */
    border-radius: 50%;
}
.region {
   
    transition: transform 0.3s ease  background-color 0.3s ease; 
}

.region:hover {
    transform: scale(0.9);
    background-color: rgba(48, 185, 185, 0.836);
    border-radius: 50%;
}
.navbar{
    width: 100vw;
    display: flex;
    gap:2rem;
    width:1rem;
}