body {
  
  font-family:Georgia, 'Times New Roman', Times, serif;
 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.formR {
    display:flex;
    height:90vh;
    width:30vw;
    justify-content: center;
    align-items: top;
  /* padding:10px; */
  flex-direction: column;
  /* max-width: 300px; */
  border-radius: 60px;
  color: #ffffff;
  background-color: #fff;
  gap:1rem;
  margin-left: 2rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

label {
  width: 450px;
  display: block;
  /* margin-bottom: 10px; */
  gap: 2px;
  color: #000;
  background-color: #fff;
}

.input {
  width: 50%;
  padding: 10px;
  margin-left:80px;
  /* border: 1px solid #fff; */
  border-radius: 5px;
  background-color:white;
  color: #030303;
}

.btnR {
  /* max-width: 400px; */
  align-items: center;
  width: 270px;
  padding: 10px;
  margin-left:60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  height:50px;
}

.btnR:hover {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}