

.list-icon
{
    margin:0;
    margin-left: 0;
    margin-top: 5px;
    
}
.product-grid {
    /* background-color: #ebe0c6b7; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.product {
    text-align: center;
    
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    height:50%;
    
}

.product h2 {
    color: #333;
    font-size: 1.25em;
    margin: 15px 0;
}
.product img {
    transition: all 0.3s ease;
}

.product img:hover {
    opacity: 0.7;
    transform: scale(0.9)
}