.blurred {
  filter: blur(5px);
}

.LogInPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .form {
      display:flex;
      height:80vh;
      width:40vw;
      justify-content: center;
      align-items: top;
    /* padding:10px; */
    flex-direction: column;
    max-width: 400px;
    border-radius: 60px;
    color: #ffffff;
    background-color: #fff;
    gap:1rem;
    margin-left: 2rem;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  
  label {
    width: 300px;
    display: block;
    /* margin-bottom: 10px; */
    gap: 2px;
    color: #000;
    background-color: #fff;
  }
  
  .inputl{
    width: 30%;
    /* padding: 10px; */
    /* border: 1px solid #fff; */
    border-radius: 5px;
    background-color:white;
    color: #000000;
  }
  
  .btn {
    /* max-width: 360px; */
    align-items: center;
    width: 180px;
    padding: 10px;
    margin-left:105px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: #b16464; */
  background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
  }